

$color-green-light-light: #c8e4c4;
$color-green-light: #7fe475;
$color-green: #186210;
$color-green-dark: #093804;
$color-green-dark-dark: #b8e4b4;



$color-green-1: #3ba229;
$color-green-2: #45ba30;
/* $color-green-2-5: #75cb64; */
$color-green-3: #a5ec99;
$color-green-3-5: #c3f2ac;
$color-green-4: #f0f8ee;


$font-color: #555;